@charset "utf-8";
/* CSS Document */

body {
	background-repeat: repeat;
    background-image: url(../img/pattern.png);
}

h1 {
	color: white;
	font-size: 60px;
	font-weight:100;
	font-family: 'Merienda One', cursive;
}

p {
	margin : 30px;
}

.container {
	margin-top: 100px;
	text-align:center;
	padding: 40px;
}

.btn {
	font-size: 20px;
	margin-right: 10px;
	padding: 12px 55px;
}

.bot {
	color : white;
}
